@model QuanLiSanCauLong.ViewModels.BlogReviewPageViewModel
@foreach (var r in Model.Reviews.Where(r => !r.IsPinned))
{
    <div class="rv-card" id="rcard-@r.ReviewId">
        @await Html.PartialAsync("_ReviewCard", r)
    </div>
}